@model Form.Models.Addemployee

@{
}

<form method="post" enctype="multipart/form-data" action="Add" onsubmit="alert('Data berhasil ditambahkan, silahkan menunggu');">
    <div class="form-group">
        <label for="">Event</label>
        <input type="text" class="form-control" id="EventName" asp-for="EventName" required>
        <small id="emailHelp" class="form-text text-muted">Masukan Nama event.</small>
    </div>
    <div class="form-group">
        <label for="">Nama Vendor</label>
        <input type="text" class="form-control" id="NamaVendor" asp-for="NamaVendor" required>
        <small id="emailHelp" class="form-text text-muted">Masukan Nama Vendor.</small>
    </div>
    <div class="form-group">
        <label for="">No Kontak</label>
        <input type="number" class="form-control" id="NamaVendor" asp-for="No_Kontak" required>
        <small id="emailHelp" class="form-text text-muted">Masukan No Kontak.</small>
    </div>
    <div class="form-group">
        <label for="">Due Date</label>
        <input type="date" class="form-control" id="Periode" asp-for="Periode" required>
        <small id="emailHelp" class="form-text text-muted">Masukan Due Date.</small>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" id="nilai" asp-for="nilai" value="0" required>
    </div>
    <div class="form-group">
        <input type="hidden" class="form-control" id="selesai" asp-for="selesai" value="no" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
</script>
